/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.header {
  background-image: url(../images/soup.jpg);
  height: 500px;
  width: 350px;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 250px;
}

.firstPara {
  text-align: center;
  padding: 20px;
}

.img1 {
  text-align: center;
  padding: 20px;
}

.line1 {
  width: 80px;
}

.ingredients {
  margin-left: 100px;
}

.img2 {
  text-align: center;
  padding: 20px;
}

.line2 {
  width: 80px;
}

.directions {
  margin-left: 100px;
}



